* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    background-color: #0E185F;
    color: white;
}

header {
    display: flex;
    flex-direction: column-reverse;
}

header a {
    font-size: 1.3rem;
    font-weight: 800;

}

.banner {
    padding: 0 10px;
    min-height: 40vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner img {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    filter: brightness(60%);
    width: 100%;
    height: 40%;
    z-index: -1;
}

.banner a {
    color: white;
    text-decoration: none;
}

nav>h2 {
    color: white;
    font-size: 1rem;
}

nav {

    top: 0;
    display: flex;
    justify-content: space-around;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

nav li {
    list-style-type: none;
    text-align: center;
    
}
#menu-icon {
    align-self: center;
    font-size: 1.5rem;
    display: none;
}
.navbar {
    display: flex;
}
a {

    text-decoration: none;
    color: white;
}

li a {
    font-size: 15px;
    padding: 5px;


}

li a:hover {
    color: #2FA4FF;
    transition: .5s linear;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    overflow-x: clip;
}

main p {
    text-align: justify;
    font-size: 1.1rem;
}

#content {
    flex: 3;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

.card {
    box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 20px;
}

.featured-image {
    width: 60%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

aside {
    flex: 1;
}

.profile {
    position: sticky;
    text-align: center;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile header {
    text-align: center;
}

.profile img {
    width: 200px;
}

figcaption {
    font-size: 1.2rem;
    font-weight: 800;
}

.profile li {
    text-align: left;
}

#aside-right {
    flex: 1;
}

#aside-right h1 {
    border-left: 5px solid goldenrod;
    padding: 0 0 0 10px;
    text-align: left;
}

#aside-right p {
    font-weight: 600;
}

#aside-right a:hover {
    color: #2FA4FF;
}

.anchor {
    text-align: left;
    font-size: .7rem;
}

footer {
    border-top: 1px solid white;
    font-size: 1.2rem;
}

@media screen and (min-width : 769px) and (max-width: 1200px) {
    main {
        /* flex-flow: column nowrap; */
        flex-direction: column;
    }

    #aside-left {
        flex-direction: row;
        justify-content: space-evenly;
    }

}

@media screen and (max-width: 768px) {
    .banner h1 {
        /* padding-left: 5px; */
        font-size: 2rem;
    }

    .banner p {
        /* padding-left: 5px; */
        font-size: 1rem;
    }

    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top:4%;
        right: 0;
        width: 100%;
        background-color: #0E185F;
        display: none;
        padding: .5rem;
    }
    .navbar.active {
        display: block;
    }
    .navbar li {
        margin: 1rem;
        text-align: left;
    }

    main {
        flex-direction: column;
    }

    .featured-image {
        width: 100%;
    }

}